.container{
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
.containerBox{
    width: 450px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(209, 230, 170);
}
.imageImg{
    width: 350px;
    border-radius: 20px;
}
.imageImg:hover{
    width: 450px;
}
.name{
    font-size: 40px;
    font-weight: 800;
    color: black;
}
.name:hover{
    color: rgb(87, 61, 61);
    font-size: 60px;
}
.Details{
    width: 450px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(173, 243, 140);
    border-radius: 10px;
    font-size: 21px;
}
.Details > p {
    font-size: 20px;
    margin: 10px;
    text-align: justify; 
}