.name{
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.name:hover{
    font-size: 25px;
    color: rgb(121, 197, 172);
}
.boxImg > img{
    width: 250px;
    border-radius: 30% 0% 30% 0% ;
}
.boxImg > img:hover{
    width: 400px;
    height: 320px;
}
.detailsBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 120px;
    border-radius: 20px;
    color: rgb(42, 48, 33);
    font-size: 22px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.detailsBox:hover{
    width: 200px;
    height: 140px;
    cursor: pointer;
}
.details{
    color: black;
    font-weight: 900;
    font-family: cursive;
    cursor: pointer;
    
}
.details:hover{
    font-size: 25px;
}