.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boxTex{
    display: flex;
    justify-content: center;
}
.text{
    font-size: 30px;
    background-color: beige;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;    
}
.boxTex > button{
    width: 300px;
    background-color: beige;
    border-radius: 10px;
    font-size: 30px;
    border: none;
}
.boxTex > button:hover{
    color: rgb(24, 24, 152);
}
